#dashboard{
  overflow: auto;
  // height: calc(100vh - 100px);
  height: calc(400px);
}

.dashboardPanel {
  width: 100%;
  padding: 3%;
  display: block;
}

.transition-width {
  transition: width 1s ease-in-out;
}

.forgeViewer {
    background-color: darksalmon;
    // height: 500px;
    // width: 800px;
    position: relative;
}

.chartjs-render-monitor{
    // height: 200px !important;
    // width: 300px;
}